@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
@import "/css/commonstyles/navbar.css";
@import "/css/commonstyles/color.css";
@import "/css/commonstyles/reset.css";
@import "/css/commonstyles/base.css";

section {
    padding: var(--spacing-2) 9%;
}

.btn {
    margin-top: var(--spacing-1);
    font-size: 1.5rem;
    text-align: center;
    
}
.btn-outline-primary{
    color: var(--text-primary-color);
}

.btn:hover {
    background: var(--secondary-color);

}



/* *************************** Cart ******************************* */

.cart-page {
    margin-top:var(--spacing-1-5);
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 30rem;
    grid-gap: var(--spacing-3);
    height: 100%;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.cart-item {
    max-width: 50rem;
    display: flex;
    position: relative;
    background-color: var(--white);
}

.cart-item img {
    height: 20rem;
    object-fit: cover;
}

.cart-content {
    padding: 0 var(--spacing-2);
}

.cart-heading {
    display: flex;
    margin-bottom: var(--spacing-10x);
   color: var(--card-heading-color);
   font-size: 1.8rem;
}

.cart-btn-group {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: var(--spacing-2x);
}

.product-price {
    gap: var(--spacing-5x);
}

.previous-price {
    text-decoration: line-through;
    color: var(--light-color);
    margin-left: var(--spacing-10x);
}

.badge-icon {
    position: absolute;
    right: 1rem;
    top: 8px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--primary-color);
    border-radius: 50%;
}

.badge-icon i {
    font-size: 1.8rem;
}

.quantity {
    display: flex;
    gap: var(--spacing-10x);
    align-items: center;
    margin-top: var(--spacing-1);
}

.btn-qty {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    background-color: var(--light-pink);
}

.price-off {
    color: var(--accent-color);
}

/* **************************checkout***********************************8 */

.checkout-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: var(--spacing-2);
    color: var(--text-primary-color);
    height: fit-content;
}

.checkout-container h2 {
    font-size: 2rem;
    padding: 0.75rem 0;
    text-transform: uppercase;
}

.checkout-container h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
}

hr {
    border: var(--spacing-1x) solid var(--light-color)
}

.checkout-details {
    padding: var(--spacing-1-2) 0;
    font-size: 1.4rem;
}

.display-flex-row {
    display: flex;
}

.ml-auto {
    margin-left: auto;
}

.checkout-details span {
    padding-bottom: var(--spacing-10x);
}

.checkout-container .btn {
    margin-top: var(--spacing-2-5);
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .cart-page {
        grid-template-columns: 1fr;
    }

    .cart-item img {
        width: 100px;
        height: 100%;
        object-fit: cover;
    }
}