@import "/css/commonstyles/navbar.css";
@import "/css/commonstyles/color.css";
@import "/css/commonstyles/reset.css";
@import "/css/products.css";
@import "/css/commonstyles/base.css";

section {
    padding: var(--spacing-2) 9%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-5);
    background: linear-gradient(to top, #80ff72ba, #7ee8facc), url(/Images/banner.jpg) no-repeat fixed;
    background-position: center;
    background-size: cover;
}

.home-content {
    margin-top: var(--spacing-2);
    text-align: center;
    width: 50rem;

}

.home-title {
    color: var(--title-color);
    font-size: 4.5rem;
    font-family: 'Quintessential', cursive;
}

.home-sub-title {
    font-size: 3rem;
    font-family: 'Quintessential', cursive;
    letter-spacing: 2px;
    margin-bottom: var(--spacing-2);
    color: var(--text-primary-color);
}


.home-content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: var(--spacing-1) 0;
    line-height: 1.8;
}
.btn {
    margin-top: var(--spacing-3);
    font-size: 1.5rem;
}

.btn:hover {
    background: var(--secondary-color);

}

.heading-1:after {
    content: '';
    display: block;
    width: 100%;
    height: 3rem;
    background-image: url(/Images/hr.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -10px;
}

.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: var(--spacing-1-5);
    margin-top: var(--spacing-3);
    width: 100%;
    cursor: pointer;

}

.features .box-container .box {
    background: var(--white);
    text-align: center;
    box-shadow: var(--box-shadow);
    position: relative;
    height: 100%;
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.features .box-container .box h3 {
    font-size: 2.1rem;
    line-height: 1.8;
    color: var(--text-primary-color);
    position: absolute;
    bottom: 9%;
    left: 20%;
    background-color: var(--white);

}

.products-grid {
    margin-top: var(--spacing-3);
}