@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import "/css/commonstyles/navbar.css";
@import "/css/commonstyles/color.css";
@import "/css/commonstyles/reset.css";
@import "/css/commonstyles/base.css";

section{
    padding:var(--spacing-2) 5%;
}

.login ,.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);   
}

.login-form ,.signup-form {
    width: 35rem;
    padding:var(--spacing-2);
    background-color: var(--white);
    border-radius: var(--spacing-8x);
}
.login-form h3, .signup-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--primary-color);
}

.login-form .box , .signup-form .box{
    width: 100%;
    background-color: var(--bg-color);
    padding:var(--spacing-1-2);
    margin: var(--spacing-1) 0;
    border-radius: var(--spacing-0-5);
    font-size: 1.6rem;
    color:var(--primary-color);
}

.login-form p, .signup-form p{
    font-size: 1.4rem;
    padding:var(--spacing-0-5) 0;
    color:var(--light-color);
    text-align: left;
}

.login-form p a,.signup-form  p a{
    color: var(--secondary-color);
}

.btn{
    margin-top: var(--spacing-2);
    display: inline-block;
    padding:var(--spacing-0-8) var(--spacing-3);
    font-size: 1.7rem;
    border-radius: var(--spacing-0-5);
    border:var(--spacing-0-2) solid var(--primary-color);
    color:var(--primary-color);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--secondary-color);
    color:var(--white);
}
