@import "/css/products.css";


html{
    overflow-x: hidden;
}
section{
    padding:var(--spacing-2) 5%;
}
 .products-grid{
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    margin-top: var(--spacing-3);
}

.product-box .badge-icon{
    background-color: transparent;
}
    