.header{
    display: flex;
    z-index:500;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 9%;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--primary-color);
}

.header .logo i{
    color:var(--accent-color);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--primary-color);
}
.header .navbar a:hover{
    color:var(--secondary-color);
}
.header .nav-icons div{
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    border-radius: 50%;
    background: var(--bg-color);
    color:var(--primary-color);
    font-size: 2rem;
    margin-left: 5px;
    cursor: pointer;
    text-align: center;
}
.header .nav-icons div:hover{
    background: var(--secondary-color);
    color:var(--white);
}
#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:101%; right:-110%;
    width: 50rem;
    height:5rem;
    background-color: var(--white);
    border-radius:5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:0;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    font-size: 1.6rem;
    color:var(--primary-color);
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 1.8rem;
    padding-right: 1.5rem;
    color:var(--primary-color);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--secondary-color);
}


.header .profile-page{
    position: absolute;
    top:101%; right:-110%;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:20rem;
    background: var(--white);
}

.header .profile-page.active{
    right:0;
    transition: .4s linear;
}
.profile-page .profile-container{
    display: flex;
    align-items:flex-start;
    gap:1rem;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    margin:1rem 0;
}
.profile-container i{
  
    cursor: pointer;
    color:var(--light-color);
    padding: 1rem;

}
.profile-container i:hover{
  
   color: var(--secondary-color);
}
.profile-items{
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;
}
